@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');


body{
    margin: 0;
    padding:0;
    background:#2e3131;

}
.main *{
  transform-style: preserve-3d;
}


h1{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}


.rainbowTitle h1{
    user-select: none;
    font-size: 30px;
    color: white;
    background: repeating-linear-gradient(-105deg,#EC6EAD 20%, #636FA4,#3494E6, #67B26F,#EC6EAD);
    background-size: 600vw 600vw;
    color: transparent;
    background-clip: text;
    animation: slide 4s linear infinite forwards;
  }
  
  @keyframes slide {
    0%{
      background-position-x: 0%;
    }
    50%{
        background-position-x:300vw;
    }
    100%{
      background-position-x: 600vw;
    }
  }
  
  .frontFace{
    border-radius: 2% 2% 13% 2%;
    position: absolute;
    background: #d0cfca;
    width: 400px;
    height: 700px;
  }

  .aroundScreen{
    border-radius: 3%;
    position: absolute;
    top:6%;
    left:9%;
    background:#2c3303;
    width: 330px;
    height: 240px;
  }

  .roundBtn1{
    background: #58012e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .roundBtn2{
    background: #58012e;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .rightFace{
    background: #d0cfca;
    width: 90px;
    height: 700px;
  }
  .leftFace{
    background: #d0cfca;
    width: 90px;
    height: 700px;
  }

  .gameBoy .frontFace{transform: rotateY(90deg) translateZ(200px)}
  .gameBoy .rightFace {transform: translateZ(200px) translateX(311px); }
  .gameBoy .leftFace {transform: translateZ(-200px) translateX(311px) translateY(-700px); }