@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
body
{
    margin: 0;
    padding:0;
    background:#2e3131;

}

h1
{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}


  .rainbowTitle h1{
    user-select: none;
    font-size: 30px;
    color: white;
    background: repeating-linear-gradient(-105deg,#EC6EAD 20%, #636FA4,#3494E6, #67B26F,#EC6EAD);
    background-size: 600vw 600vw;
    color: transparent;
    background-clip: text;
    animation: slide 4s linear infinite forwards;
  }
  
  @keyframes slide {
    0%{
      background-position-x: 0%;
    }
    50%{
        background-position-x:300vw;
    }
    100%{
      background-position-x: 600vw;
    }
  }
  
  .cube
  {
      position: absolute;
      top: 50%;
      left: 50%;
  }
  
  .cube *
  {
      transform-style: preserve-3d;
  }
  
  .cube .shadow
  {
      position: absolute;
      top: -400px;
      left: -400px;
      width: 800px;
      height: 800px;
      transform: rotateX(-90deg) translateZ(200px);
      background-image: radial-gradient(closest-side, #000000, #00000000);
  }
  
  .cube .face
  {
      position: absolute;
      top: -200px;
      left: -200px;
      width: 400px;
      height: 400px;
      background-size:cover;
      image-rendering: crisp-edges; /*firefox*/
      image-rendering: pixelated; /*chrome*/
  }
  
  .cube .face.x-pos { transform: rotateY(90deg) translateZ(200px); }
  .cube .face.x-neg { transform: rotateY(-90deg) translateZ(200px); }
  .cube .face.y-pos { transform: rotateX(-90deg) translateZ(200px); }
  .cube .face.y-neg { transform: rotateX(90deg) translateZ(200px); }
  .cube .face.z-pos { transform: rotateY(0deg) translateZ(200px); }
  .cube .face.z-neg { transform: rotateY(180deg) translateZ(200px); }
  